doctype html
html
    head
        title= title
    body
        h1 CRM Records
        a(href="/update-cobj") Add to this table
        table(border="1")
            tr
                th Name
                th Publisher 
                th Price
            each record in records
                tr
                    td= record.properties.name
                    td= record.properties.publisher
                    td= record.properties.price
